{{ partial "header.html" . }}
<h2>askjndasd</h2>
<section class="main" >
    <div class="container">
        <div class="content">
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
            {{ end }}
            {{ $totalpostscount := len (where .Data.Pages "Section" "portifolio") }}
            {{ $latestpostscount := .Site.Params.latestpostscount | default $totalpostscount }}
            {{ if gt $latestpostscount 0 }}
                <div class="page-heading">{{ i18n "latestPortifolio" }}</div>
                <ul>
                    {{ range (first $latestpostscount (where .Data.Pages.ByPublishDate "Section" "portifolio")) }}
                        {{ partial "portli.html" . }}
                    {{ end }}
                    {{ if gt $totalpostscount $latestpostscount }}
                        {{ range where .Site.Menus.main "Identifier" "portifolio" }}
                            <li class="post-item no-bullet">
                                <a id="see-more" {{ printf "href=%q " .URL | safeHTMLAttr }}><span>See more&hellip;</span></a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
        </div>
            {{ end }}
    </div>
</section>
<section class="main" style="padding-top:30px">
    <div class="container">
        <div class="content">
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
            {{ end }}
            {{ $totalpostscount := len (where .Data.Pages "Section" "blog") }}
            {{ $latestpostscount := .Site.Params.latestpostscount | default $totalpostscount }}
            {{ if gt $latestpostscount 0 }}
                <div class="page-heading">{{ i18n "latestPosts" }}</div>
                <ul>
                    {{ range (first $latestpostscount (where .Data.Pages.ByPublishDate "Section" "blog")) }}
                        {{ partial "li.html" . }}
                    {{ end }}
                    {{ if gt $totalpostscount $latestpostscount }}
                        {{ range where .Site.Menus.main "Identifier" "blog" }}
                            <li class="post-item no-bullet">
                                <a id="see-more" {{ printf "href=%q " .URL | safeHTMLAttr }}><span>See more&hellip;</span></a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
        </div>
            {{ end }}
    </div>
</section>
<section class="main" style="padding-top:30px">
    <div class="container">
        <div class="content">
            {{ if and .Site.Params.i18n_flags .IsTranslated }}
                {{ range .Translations }}
                    <div class="page-heading">
                        <a href="{{ .Permalink }}"> 🗺 Versão {{.Language}}</a>
                    </div>

                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ partial "footer.html" . }}

